# Data Science Tools and Ecosystem

Exercice 3 : Here is a markdown cell serving as introduction for this assignment.

Exercice 4 : Here is a list of data science language.
1. Python
2. R
3. SQL

Exercice 5 : libraries used include:

1. NumPy
2. Matplotlib
3. Pandas

Exercice 6 : Here is a table markdown
| Data Science             |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Hadoop            |

In [11]:
#Exercice 7 : As an example of  expressions in Python, 
#here is the defining of a variable as the sum of two integer.
A = 1+2

In [8]:
# Exercice 8 :
(5 * 2) + 1

11

In [9]:
# Exercice Dividing by 60 will convert hours into minutes.
round(200 / 60,3)

3.333

**Exercice 10 : Please find bellow a list.**

- Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
- Exercise 3 - Create a markdown cell for an introduction. (1 pt)
- Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
- Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
- Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
- Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
- Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)
- Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
- Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
- Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
- Exercise 12 - Share your notebook through GitHub (3 pts)
- Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

Exercise 11:
##  Author : Alex Coderch